@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #252526;
  --text-h: #201f21;

  --bg: #edebeb;
  --border: #1b1a1c;

  --code-bg: #f4f3ec;

  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --social-bg: rgba(244, 243, 236, 0.5);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans:
    system-ui,
    "Segoe UI",
    Roboto,
    sans-serif;

  --heading:
    system-ui,
    "Segoe UI",
    Roboto,
    sans-serif;

  --mono:
    ui-monospace,
    Consolas,
    monospace;

  font:
    18px/145%
    var(--sans);

  letter-spacing: 0.18px;

  color-scheme: light dark;

  color: var(--text);

  background: var(--bg);

  font-synthesis: none;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

/* ================= TOASTIFY ================= */

.Toastify {
  z-index: 9999 !important;

  font-size: 12px !important;

  line-height: 1;

  padding: 0 !important;
}

.Toastify__toast-icon {
  width: 16px !important;

  height: 16px !important;
}

/* ================= GLOBAL ================= */

@layer utilities {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #aeb7c6 inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
  }
}


body {
  margin: 0;
}

#root {
  max-width: 100%;

  margin: 0 auto;

  min-height: 100svh;

  display: flex;

  flex-direction: column;

  box-sizing: border-box;
}

/* ================= RESET ================= */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: 0;

  margin: 0 !important;
}

p {
  margin: 0;
}

/* ================= HEADINGS ================= */

h1,
h2 {
  font-family: var(--heading);

  font-weight: 500;

  color: var(--text-h);
}

h1 {
  font-size: 50px;

  line-height: 1;

  letter-spacing: -1.68px;
}

h2 {
  font-size: 24px;

  line-height: 118%;

  letter-spacing: -0.24px;

  margin-bottom: 8px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }
}

/* ================= RATING STAR ================= */

.star-icon-container svg:not(:last-child) {
  fill: rgb(15, 91, 15);
}

/* ================= FADE IN ================= */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

/* ================= DATE INPUT ================= */

input[type="date"]::-webkit-calendar-picker-indicator {
  filter:
    invert(48%)
    sepia(13%)
    saturate(3207%)
    hue-rotate(130deg)
    brightness(95%)
    contrast(80%);

  cursor: pointer;
}

/* ================= OFFER LABEL ================= */

.offer-label {
  position: absolute;

  top: 20px;
  left: 0;

  display: flex;

  align-items: center;
  justify-content: center;

  width: 80px;
  height: 30px;

  color: white;

  border: 1px solid white;

  border-radius: 8px;

  box-shadow:
    0 10px 20px
    rgba(0, 0, 0, 0.35);

  animation:
    swing 3s
    ease-in-out
    infinite;
}

.offer-label::before {
  content: "";

  position: absolute;

  top: -10px;
  right: 10px;

  width: 33px;
  height: 2px;

  rotate: 45deg;

  background-color: red;

  border-radius: 50%;
}

.offer-label::after {
  content: "";

  position: absolute;

  top: -10px;
  left: 10px;

  width: 33px;
  height: 2px;

  rotate: -45deg;

  background-color: red;

  border-radius: 50%;
}

.offer-label-circle {
  position: absolute;

  top: -23px;

  width: 5px;
  height: 5px;

  background-color: red;

  border-radius: 50%;

  box-shadow:
    10px 10px 20px
    rgba(0, 0, 0, 0.35);
}

/* ================= SWING ================= */

@keyframes swing {
  0% {
    transform: rotate(-47deg);
  }

  50% {
    transform: rotate(-42deg);
  }

  100% {
    transform: rotate(-47deg);
  }
}